@media (min-width: 300px) and (max-width: 399px){
    .boxOne {
        flex-wrap: wrap-reverse;
        top: 0 !important;
    }
    #contact{
        margin-top: 160px;
    }
    .boxOne ul{
        width: 100% !important;
    }
    .boxOne ul li{
        width: 35%;
    }
    .boxOne li p{
        width: 120px !important;
        font-size: 13px !important;
    }
    .AboutUs{
        width: 300px !important;
        margin-top: 80px;
        margin-left: 20px;
    }
    .AboutUs h1, h3, p{
        width: 290px !important;
        margin-top: 20px;
    }
    footer{
        margin-top: 400px !important;
    }
    .slide{
        height: 94vh;
    }
    .d-none{
        display: block !important;
    }
    .AboutIcon{
        width: 40px !important;
        margin: 20px 0 0 0  !important;
    }
    .bgShadow{
        height: 220% !important;
    }
    .AboutUs h3{ 
        text-align: center;
    }
    .AboutUs p{ 
        text-align: center !important;
        padding: 20px;
    }
    .AboutUs button{
        margin-left: 25%;
        margin-bottom: 50px;
    }
    .AboutUs h1{ 
        font-size: 40px !important;
        text-align: center;
    }
    .carousel-item img{
        height: 94vh !important;
        background-position: right;
    }
    .list li {
        width: 100% !important;
        margin: 50px 0 50px 0;
    }
    .container{
        width: 100% !important;
    }
    .container .card .image{
        left: 0 !important;
    }
    ol, ul{
        padding-left: 0 !important;
    }
    .header__logo, .header__toggle{
        font-size: 20px !important;
    }
    #About {
        margin-top: 2000px !important;
        margin-bottom: 500px;
    }
    #contack{
        padding-top: 100px !important;
    }
    .carousel-item img{
        display: none !important;
    }
    .carousel-item1{
        background-image: url(https://i.pinimg.com/564x/a4/c1/6b/a4c16bdf22062fcf56c0181965ed9d40.jpg) !important;
        background-size: cover;
        z-index: 10;
        width: 100%;
        height: 94vh;
        background-position: center;
    }
    .carousel-item2{
        background-image: url(https://i.pinimg.com/564x/ac/fd/11/acfd112e2be7bb614302dec327f58912.jpg) !important;
        background-size: cover;
        z-index: 10;
        width: 100%;
        height: 94vh;
        background-position: center;
    }
    .carousel-item3{
        background-image: url(https://i.pinimg.com/564x/49/9c/9e/499c9ea6a916142e35b28877e2018e1c.jpg) !important;
        background-size: cover;
        z-index: 10;
        width: 100%;
        height: 94vh;
        background-position: center;
    }
    .footerContent{
        flex-wrap: wrap !important;
        text-align: center;
    }
    .footerContent div{
        width: 100%;
    }
    .footerContent div h1{
        color: #fff;
    }
    .contact-list{
        width: 100%;
        margin-left: 10px !important; 
    }
    .send-button{
        width: 100% !important;
    }
    .alt-send-button{
        width: 100% !important;
    }
    .form-control, textarea{
        margin: 20px 0 20px 0 !important;
    }
    .form-control{
        width: 300px !important;
    }
    .nav__greeting{
        font-size: 40px !important;
    }
    .navNameSpan{
        font-size: 30px !important;
    }
    .nav__text{
        font-size: 20px !important;
        width: 300px !important;
    }
    .nav__link i{
        font-size: 2rem !important;
    }
    .nav__link {
        font-size: 20px;
    }
    .footerOne h1,p{
        margin-left: 50px !important;
    }
}
@media (min-width: 400px) and (max-width: 499px){
    .boxOne {
        flex-wrap: wrap-reverse;
        top: 0 !important;
    }
    #contact{
        margin-top: 160px;
    }
    .boxOne ul{
        width: 100% !important;
    }
    .boxOne ul li{
        width: 35%;
    }
    .boxOne li p{
        width: 120px !important;
        font-size: 13px !important;
    }
    .AboutUs{
        width: 300px !important;
        margin-top: 80px;
        margin-left: 20px;
    }
    .AboutUs h1, h3, p{
        width: 290px !important;
        margin-top: 20px;
    }
    footer{
        margin-top: 400px !important;
    }
    .slide{
        height: 94vh;
    }
    .d-none{
        display: block !important;
    }
    .AboutIcon{
        width: 40px !important;
        margin: 20px 0 0 0  !important;
    }
    .bgShadow{
        height: 220% !important;
    }
    .AboutUs h3{ 
        text-align: center;
    }
    .AboutUs p{ 
        text-align: center !important;
        padding: 20px;
    }
    .AboutUs button{
        margin-left: 25%;
        margin-bottom: 50px;
    }
    .AboutUs h1{ 
        font-size: 40px !important;
        text-align: center;
    }
    .carousel-item img{
        height: 94vh !important;
        background-position: right;
    }
    .list li {
        width: 100% !important;
        margin: 50px 0 50px 0;
    }
    .container{
        width: 100% !important;
    }
    .container .card .image{
        left: 0 !important;
    }
    ol, ul{
        padding-left: 0 !important;
    }
    .header__logo, .header__toggle{
        font-size: 20px !important;
    }
    #About {
        margin-top: 2000px !important;
        margin-bottom: 500px;
    }
    #contack{
        padding-top: 100px !important;
    }
    .carousel-item img{
        display: none !important;
    }
    .carousel-item1{
        background-image: url(https://i.pinimg.com/564x/a4/c1/6b/a4c16bdf22062fcf56c0181965ed9d40.jpg) !important;
        background-size: cover;
        z-index: 10;
        width: 100%;
        height: 94vh;
        background-position: center;
    }
    .carousel-item2{
        background-image: url(https://i.pinimg.com/564x/ac/fd/11/acfd112e2be7bb614302dec327f58912.jpg) !important;
        background-size: cover;
        z-index: 10;
        width: 100%;
        height: 94vh;
        background-position: center;
    }
    .carousel-item3{
        background-image: url(https://i.pinimg.com/564x/49/9c/9e/499c9ea6a916142e35b28877e2018e1c.jpg) !important;
        background-size: cover;
        z-index: 10;
        width: 100%;
        height: 94vh;
        background-position: center;
    }
    .footerContent{
        flex-wrap: wrap !important;
        text-align: center;
    }
    .footerContent div{
        width: 100%;
    }
    .footerContent div h1{
        color: #fff;
    }
    .footerOne h1,p{
        margin-left: 50px !important;
    }
    .contact-list{
        width: 100%;
        margin-left: 10px !important; 
    }
    .send-button{
        width: 100% !important;
    }
    .alt-send-button{
        width: 100% !important;
    }
    .form-control, textarea{
        margin: 20px 0 20px 0 !important;
    }
    .form-control{
        width: 300px !important;
    }
    .nav__greeting{
        font-size: 40px !important;
    }
    .navNameSpan{
        font-size: 30px !important;
    }
    .nav__text{
        font-size: 20px !important;
        width: 300px !important;
    }
    .nav__link i{
        font-size: 2rem !important;
    }
    .nav__link {
        font-size: 20px;
    }
}
@media (min-width: 500px) and (max-width: 599px){
    .boxOne {
        flex-wrap: wrap-reverse;
        top: 0 !important;
    }
    #contact{
        margin-top: 160px;
    }
    .boxOne ul{
        width: 100% !important;
    }
    .boxOne ul li{
        width: 35%;
    }
    .boxOne li p{
        width: 120px !important;
        font-size: 13px !important;
    }
    .AboutUs{
        width: 300px !important;
        margin-top: 80px;
        margin-left: 20px;
    }
    .AboutUs h1, h3, p{
        width: 290px !important;
        margin-top: 20px;
    }
    footer{
        margin-top: 400px !important;
    }
    .slide{
        height: 94vh;
    }
    .d-none{
        display: block !important;
    }
    .AboutIcon{
        width: 40px !important;
        margin: 20px 0 0 0  !important;
    }
    .bgShadow{
        height: 220% !important;
    }
    .AboutUs h3{ 
        text-align: center;
    }
    .AboutUs p{ 
        text-align: center !important;
        padding: 20px;
    }
    .AboutUs button{
        margin-left: 25%;
        margin-bottom: 50px;
    }
    .AboutUs h1{ 
        font-size: 40px !important;
        text-align: center;
    }
    .carousel-item img{
        height: 94vh !important;
        background-position: right;
    }
    .list li {
        width: 100% !important;
        margin: 50px 0 50px 0;
    }
    .container{
        width: 100% !important;
    }
    .container .card .image{
        left: 0 !important;
    }
    ol, ul{
        padding-left: 0 !important;
    }
    .header__logo, .header__toggle{
        font-size: 20px !important;
    }
    #About {
        margin-top: 2000px !important;
        margin-bottom: 500px;
    }
    #contack{
        padding-top: 100px !important;
    }
    .carousel-item img{
        display: none !important;
    }
    .carousel-item1{
        background-image: url(https://i.pinimg.com/564x/a4/c1/6b/a4c16bdf22062fcf56c0181965ed9d40.jpg) !important;
        background-size: cover;
        z-index: 10;
        width: 100%;
        height: 94vh;
        background-position: center;
    }
    .carousel-item2{
        background-image: url(https://i.pinimg.com/564x/ac/fd/11/acfd112e2be7bb614302dec327f58912.jpg) !important;
        background-size: cover;
        z-index: 10;
        width: 100%;
        height: 94vh;
        background-position: center;
    }
    .carousel-item3{
        background-image: url(https://i.pinimg.com/564x/49/9c/9e/499c9ea6a916142e35b28877e2018e1c.jpg) !important;
        background-size: cover;
        z-index: 10;
        width: 100%;
        height: 94vh;
        background-position: center;
    }
    .footerContent{
        flex-wrap: wrap !important;
        text-align: center;
    }
    .footerContent div{
        width: 100%;
    }
    .footerContent div h1{
        color: #fff;
    }
    .contact-list{
        width: 100%;
        margin-left: 10px !important; 
    }
    .send-button{
        width: 100% !important;
    }
    .alt-send-button{
        width: 100% !important;
    }
    .form-control, textarea{
        margin: 20px 0 20px 0 !important;
    }
    .form-control{
        width: 300px !important;
    }
    .nav__greeting{
        font-size: 40px !important;
    }
    .navNameSpan{
        font-size: 30px !important;
    }
    .nav__text{
        font-size: 20px !important;
        width: 300px !important;
    }
    .nav__link i{
        font-size: 2rem !important;
    }
    .nav__link {
        font-size: 20px;
    }
}
@media (min-width: 600px) and (max-width: 699px){
    .boxOne {
        flex-wrap: wrap-reverse;
        top: 0 !important;
    }
    #contact{
        margin-top: 160px;
    }
    .boxOne ul{
        width: 100% !important;
    }
    .boxOne ul li{
        width: 35%;
    }
    .boxOne li p{
        width: 120px !important;
        font-size: 13px !important;
    }
    .AboutUs{
        width: 300px !important;
        margin-top: 80px;
        margin-left: 20px;
    }
    .AboutUs h1, h3, p{
        width: 290px !important;
        margin-top: 20px;
    }
    footer{
        margin-top: 400px !important;
    }
    .slide{
        height: 94vh;
    }
    .d-none{
        display: block !important;
    }
    .AboutIcon{
        width: 40px !important;
        margin: 20px 0 0 0  !important;
    }
    .bgShadow{
        height: 220% !important;
    }
    .AboutUs h3{ 
        text-align: center;
    }
    .AboutUs p{ 
        text-align: center !important;
        padding: 20px;
    }
    .AboutUs button{
        margin-left: 25%;
        margin-bottom: 50px;
    }
    .AboutUs h1{ 
        font-size: 40px !important;
        text-align: center;
    }
    .carousel-item img{
        height: 94vh !important;
        background-position: right;
    }
    .list li {
        width: 100% !important;
        margin: 50px 0 50px 0;
    }
    .container{
        width: 100% !important;
    }
    .container .card .image{
        left: 0 !important;
    }
    ol, ul{
        padding-left: 0 !important;
    }
    .header__logo, .header__toggle{
        font-size: 20px !important;
    }
    #About {
        margin-top: 2000px !important;
        margin-bottom: 500px;
    }
    #contack{
        padding-top: 100px !important;
    }
    .carousel-item img{
        display: none !important;
    }
    .carousel-item1{
        background-image: url(https://i.pinimg.com/564x/a4/c1/6b/a4c16bdf22062fcf56c0181965ed9d40.jpg) !important;
        background-size: cover;
        z-index: 10;
        width: 100%;
        height: 94vh;
        background-position: center;
    }
    .carousel-item2{
        background-image: url(https://i.pinimg.com/564x/ac/fd/11/acfd112e2be7bb614302dec327f58912.jpg) !important;
        background-size: cover;
        z-index: 10;
        width: 100%;
        height: 94vh;
        background-position: center;
    }
    .carousel-item3{
        background-image: url(https://i.pinimg.com/564x/49/9c/9e/499c9ea6a916142e35b28877e2018e1c.jpg) !important;
        background-size: cover;
        z-index: 10;
        width: 100%;
        height: 94vh;
        background-position: center;
    }
    .footerContent{
        flex-wrap: wrap !important;
        text-align: center;
    }
    .footerContent div{
        width: 100%;
    }
    .footerContent div h1{
        color: #fff;
    }
    .contact-list{
        width: 100%;
        margin-left: 10px !important; 
    }
    .send-button{
        width: 100% !important;
    }
    .alt-send-button{
        width: 100% !important;
    }
    .form-control, textarea{
        margin: 20px 0 20px 0 !important;
    }
    .form-control{
        width: 300px !important;
    }
    .nav__greeting{
        font-size: 40px !important;
    }
    .navNameSpan{
        font-size: 30px !important;
    }
    .nav__text{
        font-size: 20px !important;
        width: 300px !important;
    }
    .nav__link i{
        font-size: 2rem !important;
    }
    .nav__link {
        font-size: 20px;
    }
}
@media (min-width: 700px) and (max-width: 799px){
    .boxOne {
        flex-wrap: wrap-reverse;
        top: 0 !important;
    }
    #contact{
        margin-top: 160px;
    }
    .boxOne ul{
        width: 100% !important;
    }
    .boxOne ul li{
        width: 35%;
    }
    .boxOne li p{
        width: 120px !important;
        font-size: 13px !important;
    }
    .AboutUs{
        width: 300px !important;
        margin-top: 80px;
        margin-left: 20px;
    }
    .AboutUs h1, h3, p{
        width: 290px !important;
        margin-top: 20px;
    }
    footer{
        margin-top: 400px !important;
    }
    .slide{
        height: 94vh;
    }
    .d-none{
        display: block !important;
    }
    .AboutIcon{
        width: 40px !important;
        margin: 20px 0 0 0  !important;
    }
    .bgShadow{
        height: 220% !important;
    }
    .AboutUs h3{ 
        text-align: center;
    }
    .AboutUs p{ 
        text-align: center !important;
        padding: 20px;
    }
    .AboutUs button{
        margin-left: 25%;
        margin-bottom: 50px;
    }
    .AboutUs h1{ 
        font-size: 40px !important;
        text-align: center;
    }
    .carousel-item img{
        height: 94vh !important;
        background-position: right;
    }
    .list li {
        width: 100% !important;
        margin: 50px 0 50px 0;
    }
    .container{
        width: 100% !important;
    }
    .container .card .image{
        left: 0 !important;
    }
    ol, ul{
        padding-left: 0 !important;
    }
    .header__logo, .header__toggle{
        font-size: 20px !important;
    }
    #About {
        margin-top: 2000px !important;
        margin-bottom: 500px;
    }
    #contack{
        padding-top: 100px !important;
    }
    .carousel-item img{
        display: none !important;
    }
    .carousel-item1{
        background-image: url(https://i.pinimg.com/564x/a4/c1/6b/a4c16bdf22062fcf56c0181965ed9d40.jpg) !important;
        background-size: cover;
        z-index: 10;
        width: 100%;
        height: 94vh;
        background-position: center;
    }
    .carousel-item2{
        background-image: url(https://i.pinimg.com/564x/ac/fd/11/acfd112e2be7bb614302dec327f58912.jpg) !important;
        background-size: cover;
        z-index: 10;
        width: 100%;
        height: 94vh;
        background-position: center;
    }
    .carousel-item3{
        background-image: url(https://i.pinimg.com/564x/49/9c/9e/499c9ea6a916142e35b28877e2018e1c.jpg) !important;
        background-size: cover;
        z-index: 10;
        width: 100%;
        height: 94vh;
        background-position: center;
    }
    .footerContent{
        flex-wrap: wrap !important;
        text-align: center;
    }
    .footerContent div{
        width: 100%;
    }
    .footerContent div h1{
        color: #fff;
    }
    .contact-list{
        width: 100%;
        margin-left: 10px !important; 
    }
    .send-button{
        width: 100% !important;
    }
    .alt-send-button{
        width: 100% !important;
    }
    .form-control, textarea{
        margin: 20px 0 20px 0 !important;
    }
    .form-control{
        width: 300px !important;
    }
    .nav__greeting{
        font-size: 40px !important;
    }
    .navNameSpan{
        font-size: 30px !important;
    }
    .nav__text{
        font-size: 20px !important;
        width: 300px !important;
    }
    .nav__link i{
        font-size: 2rem !important;
    }
    .nav__link {
        font-size: 20px;
    }
}
@media (min-width: 800px) and (max-width: 899px){
    .boxOne {
        flex-wrap: wrap-reverse;
        top: 0 !important;
    }
    #contact{
        margin-top: 160px;
    }
    .boxOne ul{
        width: 100% !important;
    }
    .boxOne ul li{
        width: 35%;
    }
    .boxOne li p{
        width: 120px !important;
        font-size: 13px !important;
    }
    .AboutUs{
        width: 300px !important;
        margin-top: 80px;
        margin-left: 20px;
    }
    .AboutUs h1, h3, p{
        width: 290px !important;
        margin-top: 20px;
    }
    footer{
        margin-top: 400px !important;
    }
    .slide{
        height: 94vh;
    }
    .d-none{
        display: block !important;
    }
    .AboutIcon{
        width: 40px !important;
        margin: 20px 0 0 0  !important;
    }
    .bgShadow{
        height: 220% !important;
    }
    .AboutUs h3{ 
        text-align: center;
    }
    .AboutUs p{ 
        text-align: center !important;
        padding: 20px;
    }
    .AboutUs button{
        margin-left: 25%;
        margin-bottom: 50px;
    }
    .AboutUs h1{ 
        font-size: 40px !important;
        text-align: center;
    }
    .carousel-item img{
        height: 94vh !important;
        background-position: right;
    }
    .list li {
        width: 100% !important;
        margin: 50px 0 50px 0;
    }
    .container{
        width: 100% !important;
    }
    .container .card .image{
        left: 0 !important;
    }
    ol, ul{
        padding-left: 0 !important;
    }
    .header__logo, .header__toggle{
        font-size: 20px !important;
    }
    #About {
        margin-top: 2000px !important;
        margin-bottom: 500px;
    }
    #contack{
        padding-top: 100px !important;
    }
    .carousel-item img{
        display: none !important;
    }
    .carousel-item1{
        background-image: url(https://i.pinimg.com/564x/a4/c1/6b/a4c16bdf22062fcf56c0181965ed9d40.jpg) !important;
        background-size: cover;
        z-index: 10;
        width: 100%;
        height: 94vh;
        background-position: center;
    }
    .carousel-item2{
        background-image: url(https://i.pinimg.com/564x/ac/fd/11/acfd112e2be7bb614302dec327f58912.jpg) !important;
        background-size: cover;
        z-index: 10;
        width: 100%;
        height: 94vh;
        background-position: center;
    }
    .carousel-item3{
        background-image: url(https://i.pinimg.com/564x/49/9c/9e/499c9ea6a916142e35b28877e2018e1c.jpg) !important;
        background-size: cover;
        z-index: 10;
        width: 100%;
        height: 94vh;
        background-position: center;
    }
    .footerContent{
        flex-wrap: wrap !important;
        text-align: center;
    }
    .footerContent div{
        width: 100%;
    }
    .footerContent div h1{
        color: #fff;
    }
    .contact-list{
        width: 100%;
        margin-left: 10px !important; 
    }
    .send-button{
        width: 100% !important;
    }
    .alt-send-button{
        width: 100% !important;
    }
    .form-control, textarea{
        margin: 20px 0 20px 0 !important;
    }
    .form-control{
        width: 300px !important;
    }
    .nav__greeting{
        font-size: 40px !important;
    }
    .navNameSpan{
        font-size: 30px !important;
    }
    .nav__text{
        font-size: 20px !important;
        width: 300px !important;
    }
    .nav__link i{
        font-size: 2rem !important;
    }
    .nav__link {
        font-size: 20px;
    }
}
@media (min-width: 900px) and (max-width: 999px){
    .boxOne {
        flex-wrap: wrap-reverse;
        top: 0 !important;
    }
    #contact{
        margin-top: 160px;
    }
    .boxOne ul{
        width: 100% !important;
    }
    .boxOne ul li{
        width: 35%;
    }
    .boxOne li p{
        width: 120px !important;
        font-size: 13px !important;
    }
    .AboutUs{
        width: 300px !important;
        margin-top: 80px;
        margin-left: 20px;
    }
    .AboutUs h1, h3, p{
        width: 290px !important;
        margin-top: 20px;
    }
    footer{
        margin-top: 400px !important;
    }
    .slide{
        height: 94vh;
    }
    .d-none{
        display: block !important;
    }
    .AboutIcon{
        width: 40px !important;
        margin: 20px 0 0 0  !important;
    }
    .bgShadow{
        height: 220% !important;
    }
    .AboutUs h3{ 
        text-align: center;
    }
    .AboutUs p{ 
        text-align: center !important;
        padding: 20px;
    }
    .AboutUs button{
        margin-left: 25%;
        margin-bottom: 50px;
    }
    .AboutUs h1{ 
        font-size: 40px !important;
        text-align: center;
    }
    .carousel-item img{
        height: 94vh !important;
        background-position: right;
    }
    .list li {
        width: 100% !important;
        margin: 50px 0 50px 0;
    }
    .container{
        width: 100% !important;
    }
    .container .card .image{
        left: 0 !important;
    }
    ol, ul{
        padding-left: 0 !important;
    }
    .header__logo, .header__toggle{
        font-size: 20px !important;
    }
    #About {
        margin-top: 2000px !important;
        margin-bottom: 500px;
    }
    #contack{
        padding-top: 100px !important;
    }
    .carousel-item img{
        display: none !important;
    }
    .carousel-item1{
        background-image: url(https://i.pinimg.com/564x/a4/c1/6b/a4c16bdf22062fcf56c0181965ed9d40.jpg) !important;
        background-size: cover;
        z-index: 10;
        width: 100%;
        height: 94vh;
        background-position: center;
    }
    .carousel-item2{
        background-image: url(https://i.pinimg.com/564x/ac/fd/11/acfd112e2be7bb614302dec327f58912.jpg) !important;
        background-size: cover;
        z-index: 10;
        width: 100%;
        height: 94vh;
        background-position: center;
    }
    .carousel-item3{
        background-image: url(https://i.pinimg.com/564x/49/9c/9e/499c9ea6a916142e35b28877e2018e1c.jpg) !important;
        background-size: cover;
        z-index: 10;
        width: 100%;
        height: 94vh;
        background-position: center;
    }
    .footerContent{
        flex-wrap: wrap !important;
        text-align: center;
    }
    .footerContent div{
        width: 100%;
    }
    .footerContent div h1{
        color: #fff;
    }
    .contact-list{
        width: 100%;
        margin-left: 10px !important; 
    }
    .send-button{
        width: 100% !important;
    }
    .alt-send-button{
        width: 100% !important;
    }
    .form-control, textarea{
        margin: 20px 0 20px 0 !important;
    }
    .form-control{
        width: 300px !important;
    }
    .nav__greeting{
        font-size: 40px !important;
    }
    .navNameSpan{
        font-size: 30px !important;
    }
    .nav__text{
        font-size: 20px !important;
        width: 300px !important;
    }
    .nav__link i{
        font-size: 2rem !important;
    }
    .nav__link {
        font-size: 20px;
    }
}
@media (min-width: 1000px) and (max-width: 1200px){
    .AboutUs{
        width: 500px !important;
        margin-top: 80px;
    }
}